$purple-gradient-theme: linear-gradient(to top right, #ED5CBD, #B263E0, #695CED);
$purple-theme: #4f47a5;

$black-app-theme: linear-gradient(to top right, #ED5CBD, #B263E0, #695CED);
$black-theme: #000;
$black-theme-text: rgb(245, 245, 245);